* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	background-color: #2C2C29;
	height: 0px;
	color: white;
}

.input-group {
	margin: 25px auto;
	width: 70%;
}

.list {
	position: relative;
	top: 70px;
}

.google-button {
	position: relative;
	right: 5px;
}

